@import 'textAnimations.css';

.slider-root {
    position: relative;
    height: 400px;
    width: 800px;
    padding: 0px;
    margin: 0 auto;
}
.slider-container {
    height: 100%;
    width: 100%;
}

.slider-image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
}

.slider-text-wrapper {
    position: absolute;
    left: 65%;
    top: 10%;
    padding: 10px;
    opacity: 0;
    background-color: #f5f5f5ed;
    border-radius: 8px;
    font-family: 'Chewy';
    font-size: 25px;
    letter-spacing: 2px;
    color: #ff8888;
}

.slider-text {
    position: absolute;
    left: 50%;
    right: 10px;
    top: 10%;
    text-align: center;
    padding: 10px;
    opacity: 0;
    background-color: #000000a3;
    font-family: 'Chewy';
    font-size: 25px;
    letter-spacing: 5px;
    color: #ffffff;
    margin: 0;
}

.slider-image-showing {
    opacity: 1;
    z-index: 2;
}

.slider-controls {
    background: #eaeaea70;
    color: #fff;
    padding: 20px 0px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #afafaf;
    margin: 10px;
    width: 40px;
    z-index: 3;
}
  
.slider-controls:hover,
.slider-controls:focus {
    background: #eeeeeeb8;
    color: #333;
}

.slider-control-buttons {
    position: relative;
    top: 40%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.slider-button-dot-box {
    position: absolute;
    top: calc(95% - 27px);
    width: 100%;
    display: flex;
    z-index: 2;
    justify-content: center;
}
.slider-button-dot {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #e6e6e608;
    border-radius: 50%;
    margin: 5px;
    z-index: 3;
    cursor: pointer;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
}
.slider-button-dot:hover {
    background-color: #b9b9b9b5;
}
.slider-button-dot-current {
    background-color: #e6e6e6;
}
