.tracking-in-expand {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    z-index: 2;
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: 3px;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.tracking-in-contract-bck {
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    z-index: 2;
}
@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 2px;
        transform: translateZ(400px);
        opacity: 0;
        z-index: 2;
    }
    40% {
        opacity: 0.6;
        z-index: 2;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
        z-index: 2;
    }
}

.focus-in-expand-fwd {
    animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: 2;
}
@keyframes focus-in-expand-fwd {
    0% {
        letter-spacing: 3px;
        transform: translateZ(-800px);
        filter: blur(5px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        filter: blur(0);
        opacity: 1;
    }
}

.focus-in-contract {
    animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: 2;
}
@keyframes focus-in-contract {
    0% {
        letter-spacing: 4px;
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.focus-in-contract-bck {
    animation: focus-in-contract-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: 2;
}
@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 8px;
        transform: translateZ(100px);
        filter: blur(5px);
        opacity: 0;
    }
    100% {
        transform: translateZ(12px);
        filter: blur(0);
        opacity: 1;
    }
}

.tracking-in-contract-bck-bottom {
    animation: tracking-in-contract-bck-bottom 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    z-index: 2;
}
@keyframes tracking-in-contract-bck-bottom {
    0% {
      letter-spacing: 4px;
      transform: translateZ(400px) translateY(300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

.tracking-in-expand-fwd-top {
    animation: tracking-in-expand-fwd-top 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    z-index: 2;
}
@keyframes tracking-in-expand-fwd-top {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

.roll-in-left {
    animation: roll-in-left 0.6s ease-out both;
    z-index: 2;
}
@keyframes roll-in-left {
    0% {
        transform: translateX(-800px) rotate(-360deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
